fastapi
uvicorn
python-multipart
langchain==0.2.16
langchain-community==0.2.16
langchain-core==0.2.38
langchain-text-splitters==0.2.4
faiss-cpu
python-dotenv
pydantic
langchain-openai
langchain-google-genai
langchain-anthropic
langchain-groq
pypdf
